<!-- Footer Start -->
<footer id="rs-footer" class="rs-footer footer-main-home">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 md-mb-20">
                    <h3 class="footer-title">About<br/>{{ brand:brand_name }}</h3>
                    <div class="textwidget mb-33">
                        Lorem ipsum dolor sit amet, conse turini adipiscing elit, sed do eius mod tempor in cididunt ut
                        labore lorem ipsum
                    </div>
                    <ul class="footer-social md-mb-30">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-3 pl-76 md-pl-15 md-mb-10">
                    <h3 class="footer-title">Contact Info</h3>
                    <ul class="address-widget">
                        <li>
                            <i class="fi fi-rr-map-marker-home"></i>
                            <div class="desc">
                                503 Ocala Street,<br>
                                Florida, USA
                            </div>
                        </li>
                        <li>
                            <i class="fi fi-rr-phone-call"></i>
                            <div class="desc">
                                <a href="tel:(+1)123-4567890">(+1) 123-456-7890</a>
                            </div>
                        </li>
                        <li>
                            <i class="fi fi-rr-envelope-plus"></i>
                            <div class="desc">
                                <a href="mailto:info@renovix.biz">info@renovix.biz</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 pl-75 md-pl-15 md-mb-10">
                    <h3 class="footer-title">Featured Services</h3>
                    <ul class="site-map">
                        <li><a href="fintech-analysis.html">Fintech Analysis</a></li>
                        <li><a href="project-reporting.html">Project Reporting</a></li>
                        <li><a href="reports-analysis.html">Reports Analysis</a></li>
                        <li><a href="business-analysis.html">Business Analysis</a></li>
                        <li><a href="business-planning.html">Business Planning</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h3 class="footer-title">Recent Articles</h3>
                    <ul class="post-widget">
                        <li class="post-item mb-30">
                            <div class="desc"><h3 class="title"><a href="#">How investing in dependend your business
                                growth.</a></h3></div>
                            <div class="post-date">
                                <i class="fi-rr-calendar"></i>
                                March 23, 2022
                            </div>
                        </li>
                        <li class="post-item">
                            <div class="desc"><h3 class="title"><a href="#">How to maintain customers relations
                                disaster.</a></h3></div>
                            <div class="post-date">
                                <i class="fi-rr-calendar"></i>
                                March 23, 2022
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row y-middle">
                <div class="col-lg-6 md-mb-10 text-lg-end text-center order-last">
                    <ul class="copy-right-menu">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="services1.html">Services</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="contact1.html">Contact</a></li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <div class="copyright text-lg-start text-center">
                        <p>© 2024 Renovix. Designed By <a href="https://rstheme.com/" target="blank">RSTheme</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->
