<!--Full width header Start-->
<div class="full-width-header">
    <!--Header Start-->
    <header id="rs-header" class="rs-header header-style1 header-modify1">
        <!-- Toolbar Area Start -->
        <div class="toolbar-area topbar-style1 hidden-md">
            <div class="container">
                <div class="row rs-vertical-middle">
                    <div class="col-lg-8">
                        <div class="toolbar-contact">
                            <ul class="rs-contact-info">
                                <li>
                                    <i class="fi fi-rr-envelope-plus"></i>
                                    <a href="mailto:info@evamaternityhome.com">info@evamaternityhome.com</a>
                                </li>
                                <li>
                                    <i class="fi fi-rr-phone-call"></i>
                                    <a href="tel:+91 90231 68189"> +91 90231 68189</a>
                                </li>
                                <li>
                                    <i class="fi-rr-map-marker-home"></i>
                                    1st floor, RK Square, Shaktinath Circle
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="toolbar-sl-share">
                            <ul class="clearfix">
                                <li class="opening"><em><i class="fi fi-rr-time-add"></i> Mon - Sat: 9.30 to
                                    16.00</em></li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Toolbar Area End -->

        <!-- Menu Start -->
        <div class="menu-area menu-sticky">
            <div class="container">
                <div class="row-table">
                    <div class="col-cell header-logo">
                        <div class="logo-area">
                            <a href="/">
                                <img class="normal-logo" src="{{ brand:dark_logo }}" alt="logo" width="100%" style="scale: 2.0">
                                <img class="sticky-logo" src="{{ brand:dark_logo }}" alt="logo" width="100%" style="scale: 2.0">
                            </a>
                        </div>
                    </div>
                    <div class="col-cell">
                        <div class="rs-menu-area">
                            <div class="main-menu">
                                <nav class="rs-menu hidden-md">
                                    <ul class="nav-menu">
                                        <li><a href="/">Home</a></li>
                                        {{ nav:collection:pages }}
                                            {{ if children }}
                                                <li class="menu-item-has-children">
                                                    <a href="javascript:void(0);">{{ title }}</a>
                                                    <ul class="sub-menu">
                                                        {{ children }}
                                                            <li><a href="{{ url }}">{{ title }}</a></li>
                                                        {{ /children }}
                                                    </ul>
                                                </li>
                                            {{ else }}
                                                <li><a href="{{ url }}">{{ title }}</a></li>
                                            {{ /if }}
                                        {{ /nav:collection:pages }}
                                    </ul> <!-- //.nav-menu -->
                                </nav>
                            </div> <!-- //.main-menu -->
                        </div>
                    </div>
                    <div class="col-cell">
                        <div class="expand-btn-inner">
                            <ul>
                                <li class="btn-quote"><a class="readon slide-started" href="contact1.html">Get a
                                    Quote</a></li>
                                <li class="humburger">
                                    <a id="nav-expander" class="nav-expander bar" href="#">
                                        <div class="bar">
                                            <span class="dot1"></span>
                                            <span class="dot2"></span>
                                            <span class="dot3"></span>
                                            <span class="dot4"></span>
                                            <span class="dot5"></span>
                                            <span class="dot6"></span>
                                            <span class="dot7"></span>
                                            <span class="dot8"></span>
                                            <span class="dot9"></span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Menu End -->

        <!-- Canvas Menu start -->
        <nav class="right_menu_togle menu-wrap-off  hidden-md">
            <div class="close-btn">
                <a id="nav-close" class="nav-close">
                    <div class="line">
                        <span class="line1"></span>
                        <span class="line2"></span>
                    </div>
                </a>
            </div>
            <div class="rs-offcanvas-inner">
                <div class="canvas-logo">
                    <a href="index.html"><img src="assets/images/logo-dark.png" alt="logo"></a>
                </div>
                <div class="offcanvas-text">
                    <p>Teknolab quisque placerat vitae lacus ut scelerisque. Fusce luctus odio ac nibh luctus, in
                        porttitor theo lacus egestas etiusto odio data center.</p>
                </div>
                <div class="canvas-contact">
                    <div class="address-area">
                        <div class="address-list">
                            <div class="info-icon">
                                <i class="flaticon-location"></i>
                            </div>
                            <div class="info-content">
                                <h4 class="title">Address</h4>
                                <em>05 kandi BR. New York</em>
                            </div>
                        </div>
                        <div class="address-list">
                            <div class="info-icon">
                                <i class="flaticon-email"></i>
                            </div>
                            <div class="info-content">
                                <h4 class="title">Email</h4>
                                <em><a href="mailto:support@rstheme.com">support@rstheme.com</a></em>
                            </div>
                        </div>
                        <div class="address-list">
                            <div class="info-icon">
                                <i class="flaticon-call"></i>
                            </div>
                            <div class="info-content">
                                <h4 class="title">Phone</h4>
                                <em>+019988772</em>
                            </div>
                        </div>
                    </div>
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Canvas Menu end -->

        <!-- Canvas Mobile Menu start -->
        <nav class="right_menu_togle mobile-navbar-menu" id="mobile-navbar-menu">
            <div class="close-btn">
                <a id="nav-close2" class="nav-close">
                    <div class="line">
                        <span class="line1"></span>
                        <span class="line2"></span>
                    </div>
                </a>
            </div>
            <ul class="nav-menu">
                <li class="menu-item-has-children current-menu-item">
                    <a href="index.html">Home</a>
                    <ul class="sub-menu">
                        <li class="menu-item-has-children current-menu-item">
                            <a href="index.html">Multipages</a>
                            <ul class="sub-menu">
                                <li class="active"><a href="index.html">Home 1</a></li>
                                <li><a href="index2.html">Home 2</a></li>
                                <li><a href="index3.html">Home 3</a></li>
                                <li><a href="index4.html">Home 4</a></li>
                                <li><a href="index5.html">Home 5</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="onepage1.html">Onepages</a>
                            <ul class="sub-menu">
                                <li><a href="onepage1.html">Onepage 1</a></li>
                                <li><a href="onepage2.html">Onepage 2</a></li>
                                <li><a href="onepage3.html">Onepage 3</a></li>
                                <li><a href="onepage4.html">Onepage 4</a></li>
                                <li><a href="onepage5.html">Onepage 5</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="about.html">About</a>
                </li>
                <li class="menu-item-has-children">
                    <a href="services1.html">Services</a>
                    <ul class="sub-menu">
                        <li><a href="services1.html">Services 1</a></li>
                        <li><a href="services2.html">Services 2</a></li>
                        <li class="last-item menu-item-has-children">
                            <a href="business-planning.html">Services Single</a>
                            <ul class="sub-menu">
                                <li><a href="business-planning.html">Business Planning</a></li>
                                <li><a href="financial-advices.html">Financial Advices</a></li>
                                <li><a href="business-analysis.html">Business Analysis</a></li>
                                <li><a href="reports-analysis.html">Reports Analysis</a></li>
                                <li><a href="fintech-analysis.html">Fintech Analysis</a></li>
                                <li><a href="project-reporting.html">Project Reporting</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="#">Pages</a>
                    <ul class="sub-menu">
                        <li class="last-item menu-item-has-children">
                            <a href="team-style1.html">Team</a>
                            <ul class="sub-menu">
                                <li><a href="team-style1.html">Team Style 1</a></li>
                                <li><a href="team-style2.html">Team Style 2</a></li>
                                <li><a href="team-style3.html">Team Style 3</a></li>
                                <li><a href="team-style4.html">Team Style 4</a></li>
                                <li><a href="team-single.html">Team Single</a></li>
                            </ul>
                        </li>
                        <li class="last-item menu-item-has-children">
                            <a href="portfolios-style1.html">Portfolios</a>
                            <ul class="sub-menu">
                                <li><a href="portfolios-style1.html">Portfolios Style 1</a></li>
                                <li><a href="portfolios-style2.html">Portfolios Style 2</a></li>
                                <li><a href="portfolios-style3.html">Portfolios Style 3</a></li>
                                <li><a href="portfolios-style4.html">Portfolios Style 4</a></li>
                                <li><a href="portfolios-style5.html">Portfolios Style 5</a></li>
                                <li><a href="portfolios-style6.html">Portfolios Style 6</a></li>
                                <li><a href="portfolios-filter.html">Portfolios Filter</a></li>
                                <li><a href="portfolios-single.html">Portfolios Single</a></li>
                            </ul>
                        </li>
                        <li class="last-item menu-item-has-children">
                            <a href="shop.html">Shop</a>
                            <ul class="sub-menu">
                                <li><a href="shop.html">Shop</a></li>
                                <li><a href="shop-single.html">Shop Single</a></li>
                                <li><a href="cart.html">Cart</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                                <li><a href="my-account.html">My Account</a></li>
                            </ul>
                        </li>
                        <li><a href="appointment.html">Appointment</a></li>
                        <li class="last-item menu-item-has-children">
                            <a href="careers.html">Careers</a>
                            <ul class="sub-menu">
                                <li><a href="careers.html">Careers</a></li>
                                <li><a href="careers-single.html">Careers Single</a></li>
                            </ul>
                        </li>
                        <li><a href="partners.html">Partners</a></li>
                        <li><a href="pricing-plans.html">Pricing Plans</a></li>
                        <li><a href="faq.html">Faq</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="blog.html">Blog</a>
                    <ul class="sub-menu">
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="blog-single.html"> Blog Single</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="contact1.html">Contact</a>
                    <ul class="sub-menu">
                        <li><a href="contact1.html">Contact 1</a></li>
                        <li><a href="contact2.html">Contact 2</a></li>
                    </ul>
                </li>
            </ul> <!-- //.nav-menu -->
            <!-- //.nav-menu -->

            <!-- //.nav-menu -->
            <div class="canvas-contact">
                <div class="address-area">
                    <div class="address-list">
                        <div class="info-icon">
                            <i class="flaticon-location"></i>
                        </div>
                        <div class="info-content">
                            <h4 class="title">Address</h4>
                            <em>05 kandi BR. New York</em>
                        </div>
                    </div>
                    <div class="address-list">
                        <div class="info-icon">
                            <i class="flaticon-email"></i>
                        </div>
                        <div class="info-content">
                            <h4 class="title">Email</h4>
                            <em><a href="mailto:support@rstheme.com">support@rstheme.com</a></em>
                        </div>
                    </div>
                    <div class="address-list">
                        <div class="info-icon">
                            <i class="flaticon-call"></i>
                        </div>
                        <div class="info-content">
                            <h4 class="title">Phone</h4>
                            <em>+019988772</em>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Canvas Menu end -->
    </header>
    <!--Header End-->
</div>
<!--Full width header End-->
